@tailwind base;
@tailwind components;
@tailwind utilities;


/* TO DO: Use Tailwaind */

body {
  background: linear-gradient(to right, black, #0d3361); /* Black to blue-400 */

  font-family: sans-serif;
  color: #354358;
}



